* {
	margin: 0px;
	padding: 0px;
}

html,body,.container {
	height: 100%;
	background: #BFBFBF;
}

body>.container {
	height: auto;
	min-height: 100%;
	min-width: 100%;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

.ui-panelGrid,.ui-panelgrid-cell {
	border-style: none !important;
	border: none !important;
}

.redIcon .ui-icon {
	background-image: url("../resources/images/ui-icons_cd0a0a_256x240.png")
		!important;
	);
}

.about {
	font-weight: bold;
	text-decoration: none;
}

.link {
	text-decoration: none;
	font-weight: bold;
}

.link:HOVER {
	color: red;
}

.dialogAbout {
	width: 390px !important;
	height: 225px !important;
	text-align: left !important;
	position: absolute !important;
}

.ui-panel {
	border: 1px solid #A8A8A8;
	background-color: #dfdfdf;
	-moz-box-shadow: #333 0px 4px 10px 0px;
	-webkit-box-shadow: #333 0px 4px 10px 0px;
	box-shadow: #333 0px 4px 10px 0px;
}

.usuarioLogado {
	color: #FFF;
	font-family: calibri, arial !important;
}

.logoutFooter {
	text-decoration: none;
	font-weight: normal;
	color: #FFF;
	font-family: calibri, arial !important;
}

.logoutFooter:HOVER {
	color: red;
}

.logoHeader {
	width: 500px;
	height: 100px;
	margin-top: 22px;
	margin-right: 20px;
	opacity: 0.7;
}

.logoFooter {
	background: transparent;
	width: 220px;
	height: 40px;
}

.separadorFooter {
	background: transparent;
	width: 1000px;
	height: 5px;
}

.header {
	width: 100%;
	height: 150px;
	background: #DFDFDF;
	text-align: center;
}

.content {
	background: #BFBFBF;
	min-height: auto;
	min-width: 100%;
	position: absolute;
	text-align: center;
}

.footer {
	clear: both;
	position: relative;
	height: 150px;
	margin-top: 531px;
	background-color: #202020;
	border-top: 1px solid #cbcbcb;
	text-align: center;
	-moz-box-shadow: #333 0px -3px 30px 5px;
	-webkit-box-shadow: #333 0px -3px 30px 5px;
	box-shadow: #333 0px -3px 30px 5px;
}

.myButton {
	width: 110px;
	height: 50px;
	text-indent: -20% !important;
	padding-top: 26px !important;
	top: 1px !important;
	border: none !important;
}

.myButton .myIcon {
	background-image: url("../resources/images/user27x27.png") !important;
	width: 27px !important;
	height: 27px !important;
	left: 33% !important;
	top: 22% !important;
	margin-left: 0px;
}

.myButton .iconVisitante {
	background-image: url("../resources/images/visitantes27x27.png")
		!important;
	width: 27px !important;
	height: 27px !important;
	left: 33% !important;
	top: 22% !important;
	margin-left: 0px;
}

.myButton .iconVisita {
	background-image: url("../resources/images/visita27x27.png") !important;
	width: 27px !important;
	height: 27px !important;
	left: 33% !important;
	top: 22% !important;
	margin-left: 0px;
}

.myButton .iconDepart {
	background-image: url("../resources/images/departamento27x27.png")
		!important;
	width: 27px !important;
	height: 27px !important;
	left: 36% !important;
	top: 22% !important;
	margin-left: 0px;
}

@media screen and (max-width: 1366px) {
	.footer {
		margin-top: 400px;
	}
}

@media screen and (max-width: 768px) {
	.logoHeader {
		width: 400px;
		height: 80px;
		margin-top: 35px;
		transition: margin 1s, width 1s, height 1s, opacity 1s;
	}
}

@media screen and (max-width: 320px) {
	.logoHeader {
		width: 220px;
		height: 40px;
		margin-top: 53px;
		margin-left: 20px;
		transition: margin 1s, width 1s, height 1s, opacity 1s;
	}


